<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Screen</string>
	<key>uuid</key>
	<string>0F9DF9F8-C7DB-4EC3-8DBF-B7D636580A0B</string>
</dict>
</plist>
